[user]
	name = Your Name
	email = you@internet.com
[core]
	editor = mvim -f
	excludesfile = $HOME/.gitignore
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
    prompt = false
[color]
	ui = auto
[github]
    user = yourname
[status]
    relativePaths = false
[alias]
    d  = difftool
    dc = difftool --cached
    lc = log ORIG_HEAD.. --stat --no-merges
    gl = log --oneline --decorate --stat --graph
    st = status -sb
    serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
    prune-all = !git remote | xargs -n 1 git remote prune
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

